@charset "UTF-8";
@import url("../font/iconfont.css");
html {
  font-size: 100px;
}

.iconfont {
  font-size: .16rem;
}


/* iPhone 5 ----------- */

@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  html {
    font-size: 100px !important;
  }
}


/* iPhone 6 ----------- */

@media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
  html {
    font-size: 118px !important;
  }
}


/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 414px) and (max-device-width: 599px) {
  html {
    font-size: 130px !important;
  }
}


/* iPhone 6+ ----------- */

@media only screen and (min-device-width: 600px) {
  /* Styles 14px */
  html {
    font-size: 180px !important;
  }
}

body {
  padding: 0;
  margin: 0;
  font-size: .14rem;
  overflow: hidden;
  font-family: '微软雅黑';
  color: #333;
  background: #f5f5f5;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

p {
  margin: 0;
}


/* 去除选中黄色边框 */

input,
textarea,
button,
select {
  outline: none;
}

i {
  font-style: normal;
}


/* 强制换行 */

.break-word {
  word-wrap: break-word;
  word-break: break-all;
}

.hidden {
  display: none;
}

.show {
  display: block;
}


/* chrome表单自动填充后，input文本框的背景会变成偏黄色的 */

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  border: 0 !important;
}


/* input diabled 样式, 兼容iphone */
input:disabled {
  color: #a6a6a6;
  -webkit-text-fill-color: #a6a6a6;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
}

a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.radius-5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}


/* 一行显示显示不下... */

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  /* for Opera */
  text-overflow: ellipsis;
  /* for IE */
}

.no-border {
  border: 0 !important;
}

.no-data {
  margin-top: .2rem;
  margin-bottom: .1rem;
  text-align: center;
}

.no-data img {
  width: 50%;
}

.no-data p {
  font-size: .16rem;
  text-align: center;
}

.normal-container {
  margin: 0 auto;
  height: 100%;
  overflow: auto;
  /* padding-top: .44rem; */
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.top-logo {
  margin: 0 0 0 .13rem;
  padding-top: .16rem;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #333333;
  font-size: .1rem;
  position: relative;
  z-index: 10;
}

.top-logo img {
  height: .12rem;
  margin-right: .05rem;
}

.txt-center {
  text-align: center;
}

.opacity-0 {
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  /* IE 4-9 */
  filter: alpha(opacity=0);
  /*This works in IE 8 & 9 too*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  /*IE4-IE9*/
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}

.opacity-50 {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: .5;
  /* IE 4-9 */
  filter: alpha(opacity=50);
  /*This works in IE 8 & 9 too*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /*IE4-IE9*/
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

.normal-container .main-content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  overflow: auto;
  position: relative;
}

.normal-header {
  width: 100%;
  font-size: .15rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  text-align: center;
  height: .44rem;
  line-height: .44rem;
  background: #fff;
  color: #333;
  border-bottom: 1px solid #d9d9d9;
}

.normal-header .back {
  text-decoration: none;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: .44rem;
  height: .44rem;
  color: #3ccf8a;
  font-weight: 700;
}

.merchant-header .back {
  color: #4696e7;
}

.normal-footer {
  width: 100%;
  height: .49rem;
  background: #ffffff;
}

.normal-tabbar {
  border-top: .01rem solid #d9d9d9;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.normal-tabbar .item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #999;
  font-size: .1rem;
  text-align: center;
  padding-top: .05rem;
  height: 100%;
}

.normal-tabbar .item.actived {
  color: #3ccf8a;
}

.normal-tabbar .item img {
  height: .2rem;
  display: block;
  margin: 0 auto;
  margin-bottom: .05rem;
}

.normal-tabbar .item p {
  text-align: center;
  margin: 0;
  height: .15rem;
  line-height: .15rem;
}

.block {
  display: block;
}

.height-1 {
  height: 1px;
}

.main-content .normal-cart {
  display: block;
  width: .4rem;
  height: .4rem;
  font-size: .22rem;
  color: #999;
  background: #fff;
  border: .01rem solid #d9d9d9;
  -moz-border-radius: .4rem;
  -webkit-border-radius: .4rem;
  border-radius: .4rem;
  position: fixed;
  bottom: 0.6rem;
  right: .1rem;
  text-align: center;
  line-height: .39rem;
  box-shadow: #ccc 0 0 10px 0px;
  z-index: 10;
}

.main-content .normal-cart .num {
  display: block;
  width: .16rem;
  height: .16rem;
  -moz-border-radius: .16rem;
  -webkit-border-radius: .16rem;
  border-radius: .16rem;
  background: #fa885d;
  color: #fff;
  font-size: .1rem;
  text-align: center;
  line-height: .16rem;
  position: absolute;
  top: -.03rem;
  right: -.06rem;
}

.main-content .normal-cart .num.hidden {
  display: none;
}

.green-point {
  width: .2rem;
  height: .2rem;
  background: #3ccf8a;
  -moz-border-radius: .2rem;
  -webkit-border-radius: .2rem;
  border-radius: .2rem;
  display: block;
}

.tableview {
  background: #fff;
}

.tableview .cell {
  border-bottom: .01rem solid #d9d9d9;
  height: .4rem;
  padding: 0 .12rem;
}

.tableview .cell {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: .12rem;
}

.tableview .normal-cell {
  min-height: .4rem;
  height: auto;
  font-size: .14rem;
}

.tableview .normal-cell .content {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: right;
  margin-left: .05rem;
}

.tableview .normal-cell input.content {
  height: 100%;
  min-height: .4rem;
  border: 0;
  padding: 0;
  font-size: .14rem;
}

.tableview .normal-cell .icon-right-arrow,
.tableview .normal-cell .icon-down-arrow {
  margin-left: .1rem;
  color: #999;
  font-weight: 700;
}

.normal-tableview {
  padding-left: .12rem;
}

.normal-tableview .normal-cell {
  padding-left: 0;
}

.btn-bottom .green-btn,
.btn-bottom .blue-btn {
  width: 100%;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.color-grey {
  color: #999;
}

.normal-ab-loading {
  position: absolute;
  top: .2rem;
  left: 0;
  z-index: 99;
  width: 100%;
  line-height: 1.6em;
  font-size: 14px;
  text-align: center;
}

.normal-loading {
  width: 65%;
  height: .3rem;
  line-height: .3rem;
  margin: 0 auto;
  background: #fff;
  -moz-border-radius: .3rem;
  -webkit-border-radius: .3rem;
  border-radius: .3rem;
  box-shadow: 0 0 10px 0px #ccc;
}

#nextPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  width: 100%;
  background: #f5f5f5;
}

.default-sort-area {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  font-size: .14rem;
  color: #333;
  height: .4rem;
  background: #fff;
  width: 100%;
}

.default-sort-area .item {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 100%;
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
}

.default-sort-area .item:active {
  background: rgba(0, 0, 0, 0.1);
}

.default-sort-area .item .arrow {
  display: -webkit-box;
  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
  display: -moz-box;
  /* 老版本语法: Firefox (buggy) */
  display: -ms-flexbox;
  /* 混合版本语法: IE 10 */
  display: -webkit-flex;
  /* 新版本语法: Chrome 21+ */
  display: flex;
  /* 新版本语法: Opera 12.1, Firefox 22+ */
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: .18rem;
  margin-left: .05rem;
}

.default-sort-area .item .arrow .iconfont {
  font-size: .12rem;
  line-height: 0;
  height: .12rem;
  color: #333;
}

.default-sort-area .item .arrow .icon-up-arrow-b {
  line-height: .12rem;
}

.default-sort-area .item.actived {
  color: #3ccf8a;
}

.default-sort-area .item .arrow .iconfont.actived {
  color: #3ccf8a;
}

.edit-icon {
  position: absolute;
  top: 0;
  right: .1rem;
  color: #4696e7;
  font-size: .12rem;
  height: .3rem;
  line-height: .3rem;
}